
.icon {
  background-image: url('../images/sprite.png');
}

.icon-apple-touch-icon-57x57 {
  background-position: -0px -0px;
  width: 65px;
  height: 65px;
}
.icon-apple-touch-icon-72x72 {
  background-position: -0px -65px;
  width: 80px;
  height: 80px;
}
.icon-apple-touch-icon-114x114 {
  background-position: -0px -145px;
  width: 122px;
  height: 122px;
}
.icon-favicon {
  background-position: -0px -267px;
  width: 146px;
  height: 146px;
}
.icon-apple-touch-icon {
  background-position: -0px -413px;
  width: 208px;
  height: 208px;
}
.icon-og-image {
  background-position: -0px -621px;
  width: 208px;
  height: 208px;
}
