/*
 *
 *
 *
 * @version 3.1 eng
 */
// =======================================================================//
// AUTOSPRITES TOOLS                                                      //
// =======================================================================//

// IMAGE SPRITES
// unncomment if you use png/jpg sprites (gulp sprites) and paste icon like <i class="icon icon-name"></i>
// @import 'img-sprite';

// .icon {
//     display: inline-block ;
//     position: relative;
//     vertical-align: middle;
//     display: -moz-inline-stack;
//     zoom: 1;
//     *display: inline;
// }


// SVG SPRITES
// unncoment if use svg sprites (gulp svgsprites) and add sprites svg inline in index.html
// use fore insert icon <svg class="icon icon-name">
// <use xlink:href="#icon-name"></use></svg>
// @import 'base/svgsprite';

//SVG FONT
// uncomment if you use svg icons font (gulp svgiconfont)  and paste icon like <i class="icon icon-name"></i>
// @import 'base/svgicons';


// =======================================================================//
// CONNECTING FONTS                                                       //
// =======================================================================//

/* connecting google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* connecting local fonts */
@mixin font-face($font-family, $file-path) {

    // Use http://everythingfonts.com/font-face
    @font-face {
        font-family: $font-family;
        src: url('../../fonts/' + $file-path + '/' + $file-path + '.eot');
        src: url('../../fonts/' + $file-path + '/' + $file-path + '.eot') format('embedded-opentype'),
             url('../../fonts/' + $file-path + '/' + $file-path + '.woff2') format('woff2'),
             url('../../fonts/' + $file-path + '/' + $file-path + '.woff') format('woff'),
             url('../../fonts/' + $file-path + '/' + $file-path + '.ttf') format('truetype'),
             url('../../fonts/' + $file-path + '/' + $file-path + '.svg#TTDrugsThin') format('svg');

        font-weight: normal;
        font-style: normal;
    }

    // Chrome for Windows fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url('../fonts/' + $file-path + '/' + $file-path + '.svg##{$font-family}') format('svg');
        }
    }
}

// =======================================================================//
//    BACKGROUND IMAGES RESPONSIVE MIX-IN                                 //
// =======================================================================//
// uncomment for use responcive background, use "gulp imgresize" for create different size img.

// @mixin bg-img ($bg-color, $file-name, $file-exp, $bg-size) {
//     @media only screen and (min-width: 1301px) {
//         background:$bg-color url('../images/' + $file-name + '.' + $file-exp) center center no-repeat;
//         background-size: $bg-size;
//     }
//     @media only screen and (max-width: 1300px) {
//         background:$bg-color url('../images/' + $file-name + '_dt' + '.' + $file-exp) center center no-repeat;
//         background-size: $bg-size;
//     }
//     @media only screen and (max-width: 991px) {
//         background:$bg-color url('../images/' + $file-name + '_md' + '.' + $file-exp) center center no-repeat;
//         background-size: $bg-size;
//     }
//     @media only screen and (max-width: 481px) {
//         background:$bg-color url('../images/' + $file-name + '_xs' + '.' + $file-exp) center center no-repeat;
//         background-size: $bg-size;
//     }
// }

// Add local fonts from mixin
@include font-face(HelveticaNeue, 'HelveticaNeue');


/* Identify Fonts*/
$main-font: 'Roboto', sans-serif;


/* Font mixin */
@mixin font-type($font-family, $font-size, $line-height, $letter-spacing, $color) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}


// =======================================================================//
// RESPONCIVE MIX IN                                                      //
// =======================================================================//

/*for add responcive rules use @include respond-to(sm) {}  */

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 481px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == md {
   @media only screen and(max-width: 991px) { @content; }
  }
  @else if $media == lg {
   @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 1300px) { @content; }
  }
}


// =======================================================================//
//    System-wide configuration classes and the vertical rhythm           //
// =======================================================================//

html {}

body {

    /* VEBKIT FONT SMOOTHINF */
    -webkit-font-smoothing: subpixel-antialiased;
}

button, select {-webkit-appearance: none;}

/* ALL IMAGE ARE RESPONCIVE */
img {width: 100%; height: auto;}

/* IMG STYLE
----------------
.img-responsive -
.img-rounded -
.img-circle -
.img-thumbnail -
*/


/* SYSTEM MODIFICATORS */
.np {padding: 0;} /* no padding */
.np-l {padding-left:0;} /* no padding left */
.np-r {padding-right:0;} /* no padding right */
.dp {padding:0 30px;} /* double padding */
.nm {margin:0;} /* no margin */
.nm-b {margin-bottom:0;} /* no margin bottom */

/* FLOAT CLEAR */
.clear {clear: both;}

// =======================================================================//
// BACKGROUNDS                                                            //
// =======================================================================//


// =======================================================================//
// TYPOGRAPHY STYLE                                                       //
// =======================================================================//

/* PARAGRAPH */
p {}

/* <p> like H */
.lead {}

/* PARAGRAPH STYLE
----------------
<p> color modificators
.text-muted {}
.text-primary {}
.text-success {}
.text-info {}
.text-warning {}
.text-danger {}

<p> with background in BLOCK mode
.bg-primary {}
.bg-success {}
.bg-info {}
.bg-warning {}
.bg-danger {}

use a system class alignment <p>
.text-left {}
.text-center {}
.text-right {}
.text-justify {}
*/

small, .small {}
strong, .strong {}
em, .em {}

a {
    &:hover, &:focus, &:active, &:active:focus {outline: none;}
    text-decoration: none;

    &:hover {}
    &:active {}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}

/* address */
address, .address {

    strong {}
    a {}
}

/* for some reason use title="" inside <abbr>.
   Add .initialism for make font smaller. */
abbr, .abbr {

}

/* add .blockquote-reverse for right align. */
blockquote {

    /* use <p> inside <blockquote>  */
    p {}

    footer {}

    /* <cite title="Source Title">Source Title</cite> */
    cite {}
}

/* System class for list .list-unstyled and .list-inline */
ul {
    li {
    }
}

ol {
    li {}
}


/* ocation of terms and their definitions side by side in a line using .dl-horizontal () */
dl {
    dt {}
    dd {}
}

/* Styling code and markings */
pre {}
code {}
kbd {}
mark {}

// =======================================================================//
// TABLE                                                               //
// =======================================================================//

/* wrapp responsive table */
.table-responsive {}

/* Table styles
----------------
.active
.success - green
.warning - yellow
.danger - red
.info - blue
*/

.table {
    thead {
        tr {
            th {}
        }
    }
    tbody {
        tr {
            td {}
        }
    }
}

/* Additional classes for tables
----------------
.table-striped
.table-bordered
.table-hover
.table-condensed
*/

// =======================================================================//
// FORMS                                                                  //
// =======================================================================//

// PLACEHOLDER MIX-IN
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
};

/*  LABELS (for .form-group)
----------------
.has-success
.has-warning
.has-error
.has-feedback - for icons*/

    label {}

/*
HTML5 input types: text, text, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, и color.

*/

.form {

    .form-group {

        .control-label {

        }

        .input_wrapper {

            select {}
        }

        .input-group-addon {}

        /* The general style input, textarea, select */
        .form-control {

            /* hack anti mobile zoom */
            font-size: 16px;

            &:focus,
            &:active:focus {
                border: none;
                box-shadow: none;
            }
        }

        /* Style for checkboxes*/
        .checkbox {
            /* use .checkbox-inline for inline checkbox*/
            label {
                input {

                }
            }
        }
        /* Style for radiobutton */
        .radio {
            /* use .radio-inline for inline radiobutton */
            label {
                input {

                }
            }
        }

        .form-control-static {

        }

        .help-block {

        }
    }

    .has-success {
        .control-label {}
        .form-control {}
    }
    .has-warning {
        .control-label {}
        .form-control {}
    }
    .has-error {
        .control-label {}
        .form-control {}
    }

    .has-feedback {
        .glyphicon {

        }
    }
}

// =======================================================================//
// BUTTONS                                                                //
// =======================================================================//

.btn-submit {
    &:hover, &:active, &:focus, &:active:focus {}
}

.btn-default {

    &:hover,
    &:active,
    &:focus,
    &:active:focus {}

}

.btn-primary {

    &:hover,
    &:active,
    &:focus,
    &:active:focus {

    }
}

.btn-second {

    &:hover,
    &:active,
    &:focus,
    &:active:focus {

    }
}

.btn-next {

    &:hover,
    &:active,
    &:focus,
    &:active:focus {


    }
}




