.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-avatar {
    font-size:(482.9/10)*1rem;
    width:(482.9/482.9)*1em;
}
.icon-avatar-1 {
    font-size:(472.6/10)*1rem;
    width:(472.6/472.6)*1em;
}
.icon-back {
    font-size:(477.175/10)*1rem;
    width:(477.175/477.175)*1em;
}
.icon-book {
    font-size:(485.5/10)*1rem;
    width:(485.5/485.5)*1em;
}
.icon-cancel {
    font-size:(475.2/10)*1rem;
    width:(475.2/475.2)*1em;
}
.icon-chat {
    font-size:(477.5/10)*1rem;
    width:(477.5/477.5)*1em;
}
.icon-chat-1 {
    font-size:(477.6/10)*1rem;
    width:(477.6/477.6)*1em;
}
.icon-chat-2 {
    font-size:(473/10)*1rem;
    width:(473/473)*1em;
}
