  <!-- build:js scripts/vendorh.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
    <!-- uncomment for crossbrowser support svg sprites -->
    <!-- <script src="/scripts/svg4everybody.js"></script> -->
    <!-- <script>svg4everybody();</script> -->
    </body>
</html>
